{{- $siteConfig := .Site.Data.site.config -}}
{{- $lang := .Language.Lang -}}
{{- $siteUrl := strings.TrimSuffix "/" (or $siteConfig.brand.officialSiteBase .Site.BaseURL) -}}
{{- $inLanguage := or .Site.Language.LanguageCode .Site.Language.Lang -}}
{{- $pageUrl := .Permalink -}}
{{- $description := or .Params.description .Description .Summary .Site.Params.siteDescription | plainify | htmlUnescape -}}
{{- $brand := .Site.Title -}}
{{- with $siteConfig.brand.name -}}
  {{- $brand = . -}}
{{- end -}}

{{- $repoUrl := or $siteConfig.identity.githubRepo .Site.Params.codeRepository -}}
{{- $githubProfile := or $siteConfig.identity.githubProfile .Site.Params.authorUrl -}}
{{- $sameAs := slice -}}
{{- with $siteConfig.identity.sameAs -}}
  {{- $sameAs = . -}}
{{- else -}}
  {{- with $repoUrl -}}
    {{- $sameAs = $sameAs | append . -}}
  {{- end -}}
  {{- with $githubProfile -}}
    {{- $sameAs = $sameAs | append . -}}
  {{- end -}}
{{- end -}}

{{- $organizationId := printf "%s/#organization" $siteUrl -}}
{{- $organization := dict
  "@type" "Organization"
  "@id" $organizationId
  "name" (or $siteConfig.organization.name (printf "%s Project" $brand))
  "url" (or $siteConfig.organization.url (printf "%s/" $siteUrl))
-}}
{{- with $siteConfig.organization.logo -}}
  {{- $organization = merge $organization (dict "logo" (dict "@type" "ImageObject" "url" .)) -}}
{{- end -}}
{{- if gt (len $sameAs) 0 -}}
  {{- $organization = merge $organization (dict "sameAs" $sameAs) -}}
{{- end -}}

{{- $graph := slice $organization -}}
{{- $authorRef := dict "@id" $organizationId -}}
{{- $personName := or $siteConfig.person.name .Site.Params.authorName -}}
{{- if $personName -}}
  {{- $personId := printf "%s/#person" $siteUrl -}}
  {{- $person := dict "@type" "Person" "@id" $personId "name" $personName -}}
  {{- with (or $siteConfig.person.url .Site.Params.authorUrl) -}}
    {{- $person = merge $person (dict "url" .) -}}
  {{- end -}}
  {{- $personSameAs := .Site.Params.authorSameAs -}}
  {{- if not $personSameAs -}}
    {{- $personSameAs = $sameAs -}}
  {{- end -}}
  {{- if gt (len $personSameAs) 0 -}}
    {{- $person = merge $person (dict "sameAs" $personSameAs) -}}
  {{- end -}}
  {{- $graph = $graph | append $person -}}
  {{- $authorRef = dict "@id" $personId -}}
{{- end -}}

{{- if and .IsHome (ne $lang "und") -}}
  {{- $offer := dict "@type" "Offer" "price" (or $siteConfig.software.price "0") -}}
  {{- with $siteConfig.software.priceCurrency -}}
    {{- $offer = merge $offer (dict "priceCurrency" .) -}}
  {{- end -}}
  {{- $software := dict
    "@type" "SoftwareApplication"
    "@id" (printf "%s/#software-%s" $siteUrl $lang)
    "name" (or $siteConfig.software.name $brand)
    "url" $pageUrl
    "description" $description
    "applicationCategory" (or $siteConfig.software.applicationCategory "MultimediaApplication")
    "operatingSystem" (or $siteConfig.software.operatingSystem "Windows, macOS, Linux")
    "offers" $offer
    "isAccessibleForFree" true
    "author" $authorRef
    "publisher" (dict "@id" $organizationId)
    "inLanguage" $inLanguage
  -}}
  {{- with $repoUrl -}}
    {{- $software = merge $software (dict "codeRepository" .) -}}
  {{- end -}}
  {{- with .Site.Params.licenseUrl -}}
    {{- $software = merge $software (dict "license" .) -}}
  {{- end -}}
  {{- if gt (len $sameAs) 0 -}}
    {{- $software = merge $software (dict "sameAs" $sameAs) -}}
  {{- end -}}
  {{- with $siteConfig.software.documentationPath -}}
    {{- $docUrl := printf "%s%s" $pageUrl (strings.TrimPrefix "/" .) -}}
    {{- $software = merge $software (dict "softwareHelp" (dict "@type" "CreativeWork" "url" $docUrl)) -}}
  {{- end -}}
  {{- $graph = $graph | append $software -}}
{{- end -}}

{{- $json := (dict "@context" "https://schema.org" "@graph" $graph) | jsonify (dict "noHTMLEscape" true) -}}
<script type="application/ld+json">{{ $json | safeJS }}</script>
